*{
    box-sizing: border-box;
  }

  @import 'foundation';
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: white;
    background-color:black;
 }

  #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#desc-query {
  position: absolute;
  background-color:rgba(255, 255, 255, 0);
}

#desc-btn {
  color: yellow;
  cursor: pointer;
}

.fa-lightbulb {
  background-color:rgba(255, 255, 255, 0);
  margin-left: 50px;
  margin-top: 100px;
}

.desc-container {
  width: 40%;
  height: auto;
  background-color:rgb(224, 226, 202);
  border-radius: 10px;
  padding: 10px
}

.main-desc {
  background-color:rgb(224, 226, 202);
  color: black;
  border-radius: 10px;
}

b {
  background-color:rgba(255, 255, 255, 0)
}

.container {
    position: absolute;
    width: 50%;
    height:70%;
    border: 2px solid white;
    top: 8%;
    right: 25%;
    left: 50%;
    margin-left: -25%
}

h1 {
  text-align:center;
  width: 100%;
  height: auto;
  background-color: black;
  border: 10px solid black;
  color: white;
  opacity: 0.6;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: fixed;
  overflow: hidden;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.btn {
    width: auto;
    height: auto;
    background-color: black;
    border: 10px solid black;
    color: white;
    opacity: 0.6;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 2rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

.btn-position {
    position: absolute; 
    bottom:10px;    
    right: 25%;
    left: 50%;
    margin-left: -200px;
}

.btn:hover {
    opacity: 1.0;
    background-color: black;
    cursor: pointer
} 

.astro-pix {
    position: relative;
}

.form-style {
    position: absolute;
    color: black;
    border: 1px solid black;
    margin: auto;
    width: 50%;
    background-color: whitesmoke;
    border-radius: 10px;
    top: 25vmin;
    left: 30vmax;
}

.form-style fieldset {
    padding: 10px;
}

.form-style legend {
    padding-top: 10px;
}
 
header img {
  width: 100%;
  height: 200px;
}

header h1 {
    margin-top: -150px;
}

.dashboard h2 {
  background-color: black;
  opacity: 0.6;
  border: 10px solid black;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  text-align:center;
  border-bottom: 2px solid lightgray;
}

.hide {
    display: none;
}

.module {
  border: 2px solid white;
}